html, body {
	margin: 0 auto;
	width:1280px;
	height:720px;
}

body {
	background-image:url('images/background.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
}

img, div, body {
	position:absolute;
}

.logo {
	width:100px;
	left:1160px;
	top:20px;
}

.span {
	width:1280px;
}

.thickest {
	height: 13px;
	top:200px;
}

.thick{
	height: 6px;
	top:216px;
}

.slim {
	height: 2px;
	top:226px;
}

.red {
	background-color:red;
}

.grey-to-white {
	background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(202,202,202,1) 50%,rgba(0,0,0,1) 100%);
}

.carousel {
	width:1280px;
	top:300px;
	height:180px;
	background-color:rgba(0,0,0,0.6);
	border-top:solid 2px rgba(255,255,255,0.4);
	border-bottom:solid 2px rgba(255,255,255,0.4);
}

#carousel-images {
	top:40px;
	left:110px;
	overflow: hidden;
}

#carousel-images img {
	position:relative;
  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
  background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */			
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */			
  -moz-background-clip: content;     /* Firefox 3.6 */
  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  border-left: 40px solid rgba(0,0,0,0.6);
	border-right: 40px solid rgba(0,0,0,0.6);
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;	
	width:100px;
	height: 100px;
	background-color:white;
	margin:0px 21px;
}

#carousel-images img:first-child {
	margin-left:0;
}

#carousel-images img:last-child {
	margin-right:0;
}

#carousel-images img:nth-child(3) {
	border-left: 28px solid rgba(100,0,0,0.5);
	border-right: 28px solid rgba(100,0,0,0.5);
}

#previous, #next {
	display:block;
	width:100px;
	top:50;
}

#previous:hover, #next:hover {
	cursor:pointer;
}

#previous {
	left:10;
}

#next {
	right:10;
}

.radio-label {
	top:480px;
	left:540px;
	text-transform: uppercase;
	color:white;
	text-align: center;
	width:200px;
	background-color:rgba(0,0,0,0.6);
	border-radius: 0px 0px 20px 20px;
}

.yellow-strip {
	width:176px;
	left:11px;
	top:1px;
	height: 2px;
	border:solid 1px rgba(255,255,0,0);
	border-radius:112px;
	
background: rgba(255,255,0,1);
background: -moz-linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(255,255,0,0.83) 50%, rgba(242,250,0,0.83) 51%, rgba(255,255,0,0.66) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,0,1)), color-stop(50%, rgba(255,255,0,0.83)), color-stop(51%, rgba(242,250,0,0.83)), color-stop(100%, rgba(255,255,0,0.66)));
background: -webkit-a(255,255,0,1) 0%, rgba(255,255,0,0.83) 50%, rgba(242,250,0,0.83) 51%, rgba(255,255,0,0.66) 100%);
background: linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(255,255,0,0.83) 50%, rgba(242,250,0,0.83) 51%, rgba(255,255,0,0.66) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffff00', GradientType=1 );

}


.white-div {
	width:100%;
	height:15px;
	margin-top:10px;
	background-color:white;
}

.white-div .inner {
	width:10%;
	height: 40px;
	margin-left:45%;
	background-color:white;
	border-radius: 0px 0px 40px 40px;
}

.white-div .inner img {
	width:20%;
	margin-top:5px;
	margin-left:40%;
}

.bottom {
	width:100%;
	margin-top:65px;
}

.publicity {
	width:45%;
	height:100px;
	margin-left:1%;
	float:left;
	background-color:rgba(0,0,0,0.7);
	border-radius: 10px;
}

.inner-border {
	width:90%;
	height:88%;
	margin-top:1%;
	margin-left:5%;
	border-left:solid 2px grey;
	border-right:solid 2px grey;
}

.controls {
	text-align: center;
	width:45%;
	height:100px;
	margin-right:1%;
	float:right;
	background-color:rgba(0,0,0,0.7);
	border-radius: 10px;
}

.controls img {
	width:25%;
}

.view-select img {
	width:10%;
}

.controls div {
	display: inline-block;
	height: 78%;
}

.view-select {
	width:50%;
}

.view-select img:hover, .view-select p:hover {
	cursor:pointer;
}

.play {
	width:25%;
}

.stop {
	width:20%;
}

.stop, .play {
	border-left:solid 2px grey;
}

.controls p{
	margin-top:20%;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	color:white;
}

.controls img {
	vertical-align: middle;
	margin-right: 2%;
}

.clear-fix {
	clear:both;
}

#secondary {
	display:none;
}

.player {
	float:left;
	margin-left:25%;
	width: 50%;
	height: 500px;
	border-radius: 0px 15px 15px 0px;
	background-color: rgba(0,0,0,0.5);
}

.half-div {
	margin-left:1%;
	margin-top:5px;
	float:left;
	width:5%;
	height: 490px;
	border-radius: 0% 80% 80% 0%;
	background-color: rgba(0,0,0,0.5);
}

.red-strip {
	width:90%;
	background-color:rgb(150,0,0);
	height: 60px;
	position:relative;
	right:5%;
}

.red-strip h1 {
	display:block;
	color:white;
	font-weight: bold;
	font-size:30px;
	margin-left:10%;
	padding-top:1.5%;
	text-shadow: 2px -2px black;
}

.red-arrow {
	position:relative;
	left:-2.58%;
	top:-3.8%;
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid rgb(110,0,0) ;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
	
}

.player-current {
	margin-top:3%;
}

.player-current-image {
	float:left;
}

.player-current-text {
	float:right;
	margin-top:5%;
	margin-right:20%;
}

.player-current-text p {
	display: block;
	margin:0;
	line-height: 45px;
}

.artist, .song {
	color:white;
	display:block;
	font-weight: bold;
	font-size:30px;
}

.black-border {
	width:90%;
	height: 4px;
	margin-left:5%;
	margin-top:30%;
	background-color:black;
	opacity: 0.7;
	border-radius: 10px;
}

.title {
	color:white;
	display:block;
	font-weight: bold;
	font-size:30px;
}

.song {
	font-weight: normal;
}

.next-song {
	margin-top:2%;
}

.next-song p{
	margin:0;
}


#twitter {
	position: absolute;
	left:-200px;
	margin-top:5%;
	color:white;
	display:inline;
	width: 230px;
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

#twitter-tweets {
	float:left;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.twitter-label {
	float:right;
	font-size: 1.3em;
	line-height: 1;
	margin-left:2%;
	text-align:center;
	word-wrap: break-word;
	background-color: rgba(0,0,0,0.5);
	width: 8%;
	margin-top:114px;
}

.twitter-label:hover {
	cursor: pointer;
}

.twitter-label p {
	margin-top:0%;
}

.twitter-label img {
	text-align: center;
	margin-top:20%;
	width:80%;
}

.twitter-top {
	width:190px;
	height:40px;
	margin-bottom:10px;
	background-color: rgba(0,0,0,0.7);
	border-radius:0% 80% 0% 0%;
}

.twitter-top img {
	width:20%;
}






